
   * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: nexa;
}
ul {
	list-style: none;
}
a {
	text-decoration: none !important; 
	color: inherit !important;
	cursor: pointer;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}
@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}
@media (max-width: 600px) {
	section {
		padding: 125px 30px;
	}
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 0px 100px 0;
}
header a {
	text-transform: capitalize;
	font-weight: 900;
}
header h2 {
	text-transform: uppercase;
}
header .nav {
	display: flex;
}
header .nav li {
	margin: 0 15px;
}
header .nav li:first-child {
	margin-left: 0;
}
header .nav li:last-child {
	margin-right: 0;
}
@media (max-width: 1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header .nav li {
		margin: 0 7px;
	}
}
.box {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}
.box video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.box h1 {
	margin-bottom: 15px;
	font-size: 65px;
	text-transform: uppercase;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.box h3 {
	margin-bottom: 40px;
	font-size: 25px;
}
.box a.boxBtn {
	padding: 15px 35px;
	background: transparent;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	border: 4px solid #fff;
	transition: all .5s;
}
.box a.boxBtn:hover {
	background: #fff;
	color: #000;
}
@media (max-width: 800px) {
	.box {
		min-height: 600px;
	}
	.box h1 {
		font-size: 32px;
	}
	.box h3 {
		font-size: 20px;
	}
	.box a.boxBtn {
		padding: 15px 40px;
	}
}
.logo{
    height: 100px;
}
.card-contaner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
}
.card{
    width: 325px;
    background-color: #cbcece;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}
.card:hover{
    transform: translateY(-20px);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-con{
    padding: 20px;

}
.card-con h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.card-con p{
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}
.card-btn{
    display: inline-block;
    background: #3498bd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}
/* about us  */
.aboutus-main{
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#about{
	font-size: 40px;

	text-align: center;
}
#about-botm{
	font-size: 50px;
}
.secmain{
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	
}
.para{
	text-align: center;
	width: 500px;
}
.para p{
	font-size: 24px;
}
#readmore{
	margin-top: 52px;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 35px;

}
.tex{
	font-size: 40px;
	text-align: center;

}
.tex-co{
	font-size: 30px;
	font-weight: lighter;
	color: #666;
}
/* imgs
 */
 .footer {
    margin-top: 64px;
}


.div-fot {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
}


.lastline {
    background-color: #1A1F25;
    color: white;
    height: 57.6px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
}

ul,
ol {
    list-style-type: none;
    /* Remove default bullet points */
    padding-left: 0;
    /* Optionally remove default padding */
}

.parent {
    display: flex;
}

#foot-img1 {
    /* height: 2rem !important;
    width: 2rem !important; */
	height: 100px; 
	margin-top: 0;

}

.font_weight {
    font-weight: 500;
}

.privacy {
    margin-right: auto;
    margin-left: 8rem;
}

.terms {
    margin-right: 27rem !important;
}

.copyright {
    margin-left: auto;
    margin-right: 5rem;
}


footer {
    background-color: #222831;
    color: white;

}

.footer-text-logo {
    
    margin-top: 0;
	
}

.list1 {
    margin-left: 320px;
    margin-top: 64px;
}

.list2 {
    margin-left: 160px;
    margin-top: 64px;
}

.footer-text1 {
   width: 500px;
}

.fa-brands {
    height: 24px;
    font-size: 18px;
	margin-top: 50px;
}
